@import "../partials/_variables.css";

.alert {
    width: 100%;
    border-radius: 7px;
    padding: 7px 16px 7px 10px;
    color: var(--alert-txt);
}

.alert__message {
    font-weight: 500;
}

.alert.alert-success {
    background-color: var(--alert-bg-success);
}

.alert.alert-fail {
    background-color: var(--alert-bg-fail);
}

.alert.alert-warning {
    background-color: var(--alert-bg-warning);
}


