.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: var(--font-family);
    text-decoration: none;
    padding: var(--btn-padding);
    cursor: pointer;
    font-weight: 500;
    border-radius: var(--btn-border-radius);
    opacity: var(--link-initial-opacity);
    transition: var(--link-transition);
    border-width: 0;
    font-size: 16px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--text-color-light);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--text-color-light);
}

.btn-danger {
    background-color: var(--text-bg-danger);
    color: var(--text-color-light);
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    scale: 0.95;
}

