.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: var(--font-family);
    text-decoration: none;
    padding: var(--btn-padding);
    cursor: pointer;
    font-weight: 500;
    border-radius: var(--btn-border-radius);
    opacity: var(--link-initial-opacity);
    transition: var(--link-transition);
    border-width: 0;
    font-size: 16px;
    box-shadow: var(--btn-box-shadow);
}

.btn.btn-sm {
    font-size: 13px;
}

.btn.btn-md {
    font-size: 14px;
}

.btn.loading:disabled {
    pointer-events: none;
    opacity: .65;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--text-color-light);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--text-color-light);
}

.btn-danger {
    background-color: var(--text-bg-danger);
    color: var(--text-color-light);
}

.btn:hover {
    opacity: 1;
    box-shadow: var(--btn-box-shadow-hover);
}

.btn:active {
    scale: 0.95;
}

#btn-submit {
    transition: var(--link-transition);
}

.btn:disabled {
    pointer-events: none;
    opacity: .8;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn-animation-pulse {
    animation: pulse 1.2s infinite;
}