:root {
    /*****************************************
        COLORS
    *****************************************/
    --primary-color: #088FFA;
    --secondary-color: #9ACD32;
    --background-color: #f2f2f2;

    --alert-txt: rgba(0, 0, 0, 0.55);
    --alert-bg-success: #ACE1AF;
    --alert-bg-fail: #f29c9e;
    --alert-bg-warning: #FFCA4B;

    /*****************************************
        FONTS
    *****************************************/
    --font-family: 'Poppins', sans-serif;

    /*****************************************
        LAYOUT
    *****************************************/
    --container-width: 1200px;
    --container-p: 20px 15px;
    --grid-gap: 15px;

    /*****************************************
        TRANSITIONS & ANIMATIONS
    *****************************************/
    --link-initial-opacity: .85;
    --link-transition: .2s;

    /*****************************************
        TYPOGRAPHY
    *****************************************/
    --text-color: #333;
    --text-color-light: #f2f2f2;
    --text-bg-danger: #E32227;

    /*****************************************
        UI
    *****************************************/
    --btn-padding: 6px 12px;
    --btn-border-radius: 6px;
}