:root {
    /*****************************************
        COLORS
    *****************************************/
    --color-primary: #088FFA;
    --color-secondary: #9ACD32;
    --bg-primary-color: #f2f2f2;

    --alert-txt: rgba(0, 0, 0, 0.55);
    --alert-bg-success: #ACE1AF;
    --alert-bg-fail: #f29c9e;
    --alert-bg-warning: #FFCA4B;

    /*****************************************
        FONTS
    *****************************************/
    --font-family: 'Poppins', sans-serif;

    /*****************************************
        LAYOUT
    *****************************************/
    --page-content-margin-top: 20px;

    --header-container-p: 20px 15px;
    --container-width: 1200px;
    --container-p: 0 15px;

    --grid-gap: 45px;

    /*****************************************
        TRANSITIONS & ANIMATIONS
    *****************************************/
    --link-initial-opacity: .85;
    --link-transition: .2s;

    /*****************************************
        TYPOGRAPHY
    *****************************************/
    --text-color: #333;
    --text-color-light: #f2f2f2;
    --text-bg-danger: #E32227;

    /*****************************************
        UI
    *****************************************/
    --btn-padding: 6px 12px;
    --btn-border-radius: 6px;

    --card-padding: 7px 15px;
    --card-border-radius: 10px;
    --card-bg-color: #fff;
    --card-box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
    --card-box-shadow-hover: rgba(50, 50, 93, 0.20) 0px 6px 16px -2px, rgba(0, 0, 0, 0.25) 0px 3px 14px -3px;

    --badge-border-radius: 5px;
    --badge-padding: 2px 5px;
    --badge-font-size: 13px;
}