:root {
    /*****************************************
        COLORS
    *****************************************/
    --primary-color: #088FFA;
    --secondary-color: #9ACD32;
    --background-color: #f2f2f2;
    --text-color: #333;

    /*****************************************
        FONTS
    *****************************************/
    --font-family: 'Poppins', sans-serif;

    /*****************************************
        LAYOUT
    *****************************************/
    --container: 1000px;

    /*****************************************
        TRANSITIONS & ANIMATIONS
    *****************************************/
    --link-transition: .2s;
}