.header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding: var(--header-container-p);
}

.header__container {
    display: flex;
    justify-content: space-around;
    width: var(--container-width);
    align-items: center;
}

.header__logo-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-wrapper__img {
    max-width: 120px;
    height: auto;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.item__link {
    transition: var(--link-transition);
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    opacity: var(--link-initial-opacity);
}

.item__link:hover {
    opacity: 1;
    background-color: rgba(1, 1, 1, 0.1);
}

@media (max-width: 460px) {
    .header__container {
        flex-direction: column;
    }

    .header__nav {
        margin-top: 20px;
    }

    .nav__list {
        flex-direction: column;
    }

    .list__item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}