.page-wrapper {
    height: 100vh;
    overflow: auto;
}

.container {
    height: 100%;
    max-width: var(--container-width);
    padding: var(--container-p);
    margin: 0 auto;
}

.page-content {
    margin-top: var(--page-content-margin-top);
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--grid-gap);
}

.grid__item {

    --col-12: calc((100% / 12) - var(--grid-gap));
    --col-6: calc((100% / 6) - var(--grid-gap));
    --col-4: calc((100% / 4) - (var(--grid-gap)));
    --col-3: calc((100% / 3) - var(--grid-gap));
    --col-2: calc((100% / 2) - var(--grid-gap));
    --col-1: calc((100% / 1) - var(--grid-gap));

    flex-basis: var(--col-1); /* Default value */
    width: var(--col-1);
    flex-grow: 1;

    /* media query for phones (360px and up) */
    @media (min-width: 360px) {
        flex-basis: var(--col-1);
        width: var(--col-1);
    }

    /* media query for phones - tablet (600px and up) */
    @media (min-width: 600px) {
        flex-basis: var(--col-2);
        width: var(--col-2);
    }

    /* media query for tablets (768px and up) */
    @media (min-width: 768px) {
        flex-basis: var(--col-2);
        width: var(--col-2);
    }

    /* media query for larger tablets (1000px and up) */
    @media (min-width: 1000px) {
        flex-basis: var(--col-3);
        width: var(--col-3);
    }

    /* media query for desktops (1200px and up) */
    @media (min-width: 1300px) {
        flex-basis: var(--col-3);
        width: var(--col-3);
    }
}

.d-flex {
    display: flex;
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: space-between;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 5px;
}
.gap-2 {
    gap: 10px;
}
.gap-3 {
    gap: 15px;
}
